<%= form_for @cv, url: custom_variable_path(@cv) do |f| %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :stored_sql %><br>
      <%= f.text_area :stored_sql %>
    </p>

    <p>
      <%= f.submit %>
    </p>


<% end %>

