<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "The Awesome Reporter Tool" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The Awesome Reporter Tool" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <%= render 'layouts/navigation' %>
  </div>
</div>

<div class="container">
  <%= render 'layouts/messages' %>
</div>
<div class="container">
    <%= yield %>
</div> <!-- /container -->

</body>
</html>





